@import url(https://fonts.googleapis.com/css?family=EB+Garamond&subset=latin,cyrillic,cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body, html {
  height: 100%;
}

img, fieldset, a img {
  border: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  * {
    -webkit-text-size-adjust: none;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

body {
  font-family: Garamond, "EB Garamond", serif;
  font-weight: normal;
  font-size: 18px;
  color: #2a2a2a;
  line-height: 1.4;
  background: url(../img/top_bg.jpg) repeat-x top center, url(../img/pattern.jpg) repeat center;
}

a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: normal;
  font-family: Garamond, "EB Garamond", serif;
  padding-bottom: 20px;
}

h1 {
  font-size: 71px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 27px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 23px;
}

p {
  font-size: 18px;
  line-height: 24px;
  font-family: "Open Sans", Tahoma, sans-serif;
}

.button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 28px;
  font-family: Garamond, "EB Garamond", serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  display: inline-block;
  -webkit-appearance: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

input[type=text], select, input[type=email], input[type=tel], input[type=search], input[type=password], input[type=date], input[type=url], textarea {
  box-sizing: border-box;
  padding: 0 15px;
  color: #2a2a2a;
  font-size: 14px;
  font-family: "Open Sans", Tahoma, sans-serif;
  resize: none;
  width: 100%;
  height: 38px;
  border: 1px solid #e9e9e9;
  background-color: #fff;
}

input[type=text]:focus, select:focus, input[type=email]:focus, input[type=tel]:focus, input[type=search]:focus, input[type=password]:focus, input[type=date]:focus, input[type=url]:focus, textarea:focus {
  border-color: #d38d42;
}

input[type=text].red_input, select.red_input, input[type=email].red_input, input[type=tel].red_input, input[type=search].red_input, input[type=password].red_input, input[type=date].red_input, input[type=url].red_input, textarea.red_input {
  box-shadow: 0 0 2px #ff2d50;
  background: #fdc4ce;
}

input::-webkit-input-placeholder {
  color: inherit;
}

input:-moz-placeholder {
  color: inherit;
}

textarea {
  height: 90px;
  padding-top: 5px;
}

.modal {
  display: none;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.float_left {
  float: left !important;
}

.float_right {
  float: right !important;
}

.float_none {
  float: none !important;
}

.text_right {
  text-align: right !important;
}

.text_center {
  text-align: center !important;
}

.text_left {
  text-align: left !important;
}

.absolute {
  position: absolute !important;
}

.relative {
  position: relative !important;
}

.fixed {
  position: fixed !important;
}

.background_none {
  background: none !important;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.wrapper {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  min-width: 1170px;
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/*----------menu----------*/
.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 66px;
  background: #0f191d;
  height: 100%;
  z-index: 100;
  transition: all 0.5s ease;
}

.menu:hover {
  width: 266px;
}

.menu ul {
  padding: 70px 0 0 0;
}

.menu ul li {
  display: block;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #dfa764;
}

.menu ul li:first-child {
  border-top: 1px solid #dfa764;
}

.menu ul li a {
  display: block;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.menu ul li a span {
  float: left;
  width: 70px;
  height: 70px;
}

.menu ul li a strong {
  overflow: hidden;
  display: block;
  font-size: 24px;
  font-weight: normal;
  height: 70px;
  line-height: 70px;
  color: #fff;
}

.menu ul li a:hover, .menu ul li a.active {
  background: #141f23;
}

/*----------end-menu----------*/
/*----------header----------*/
.header {
  position: relative;
  overflow: hidden;
  padding: 47px 0 0 0;
}

.man {
  float: left;
  width: 240px;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.3;
}

.man img {
  float: left;
}

.man p {
  padding: 118px 0 0 12px;
  font-size: 24px;
  overflow: hidden;
  color: #ffffff;
  line-height: 1.3;
}

.header_top {
  overflow: hidden;
}

.header_top .float_right, .header_top .float_left {
  padding: 80px 0 0 0;
  font-size: 36px;
  color: #ffffff;
}

.logo {
  text-align: center;
  overflow: hidden;
}

.logo strong {
  padding-bottom: 15px;
  display: block;
  font-size: 36px;
  color: #ffffff;
  font-weight: normal;
}

/*----------end-header----------*/
/*----------main----------*/
.main {
  position: relative;
  overflow: hidden;
  background: url(../img/bg.png) repeat-y center;
  margin: 18px 0 0 0;
  overflow: visible;
}

.sidebar {
  float: left;
  position: relative;
  overflow: hidden;
  width: 260px;
  margin: 0 0 0 15px;
}

.sid_block {
  width: 230px;
  box-sizing: border-box;
  background: #fffddf;
  margin: 0 0 60px 0;
  padding: 19px 24px;
  position: relative;
  z-index: 2;
}

.sid_block:first-child:before {
  height: 182px;
}

.sid_block:before {
  content: '';
  width: 231px;
  height: 202px;
  position: absolute;
  right: -17px;
  bottom: -15px;
  z-index: -1;
  border: 1px solid #fffddf;
}

.sid_block:after {
  content: '';
  width: 273px;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -8px;
  z-index: -1;
  background: #fffddf;
}

.sid_block.virtual {
  padding-top: 13px;
  padding-bottom: 13px;
}

.sid_block.virtual:before {
  height: 82px;
}

.sid_block.virtual img {
  bottom: -1px;
  right: -21px;
}

.sid_block h4 {
  font-size: 18px;
  color: #822a00;
}

.sid_block h6 {
  font-size: 24px;
  font-family: "Open Sans", Tahoma, sans-serif;
  color: #822a00;
  padding-bottom: 10px;
}

.sid_block dl {
  padding-bottom: 10px;
}

.sid_block dl dt {
  font-size: 24px;
  color: #2a2a2a;
  padding-bottom: 0px;
}

.sid_block dl dd {
  font-size: 22px;
  color: #2a2a2a;
  font-weight: 600;
  font-family: "Open Sans", Tahoma, sans-serif;
}

.sid_block dl dd a {
  text-decoration: none;
  border-bottom: 1px dashed #822a00;
  font-size: 18px;
}

.sid_block dl dd a:hover {
  border-bottom-color: transparent;
}

.sid_block p {
  font-size: 16px;
  color: #2a2a2a;
  font-family: "Open Sans", Tahoma, sans-serif;
  padding-bottom: 14px;
}

.sid_block img {
  position: absolute;
  bottom: -61px;
  right: -31px;
}

.sid_news {
  padding-bottom: 20px;
}

.sid_news h5 {
  color: #fff;
  font-size: 60px;
  padding-bottom: 13px;
  line-height: 1;
  border-bottom: 1px solid #fffddf;
  margin-bottom: 37px;
}

.sid_news dl {
  padding-bottom: 26px;
}

.sid_news dl dt {
  font-size: 24px;
  color: #ffffff;
  padding-bottom: 4px;
}

.sid_news dl dd {
  color: #ffffff;
  font-size: 18px;
  font-family: "Open Sans", Tahoma, sans-serif;
}

.sid_news dl dd strong {
  color: #2a2a2a;
  background: #fff;
  font-weight: normal;
  padding: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.all_links {
  font-size: 24px;
  color: #ffffff;
}

.line {
  border-bottom: 1px solid #fffddf;
  position: absolute;
  left: 50%;
  margin-left: -308px;
  height: 1px;
  top: -6px;
  width: 1267px;
  margin-bottom: 5px;
  clear: both;
}

.content {
  padding: 35px 0 0 30px;
  position: relative;
  overflow: hidden;
}

.title, .content_txt h1 {
  padding-bottom: 0px;
  border-bottom: 1px solid #2a2a2a;
  position: relative;
  overflow: hidden;
  clear: both;
  margin-bottom: 44px;
}

.title h1, .content_txt h1 h1 {
  color: #2a2a2a;
  font-size: 71px;
  display: inline-block;
  padding-bottom: 0;
  line-height: 1.3;
}

.title nav, .content_txt h1 nav {
  display: inline-block;
}

.title nav a, .content_txt h1 nav a {
  display: inline-block;
  padding: 0 0 0 45px;
  font-size: 18px;
  color: #822a00;
  font-family: "Open Sans", Tahoma, sans-serif;
}

.title nav a.active, .content_txt h1 nav a.active {
  text-decoration: none;
}

.main_show, .show_front {
  position: relative;
  overflow: hidden;
  padding-bottom: 25px;
}

.main_show figure, .show_front figure {
  float: left;
  width: 368px;
  height: 360px;
  position: relative;
}

.main_show figure figcaption, .show_front figure figcaption {
  position: absolute;
  right: 0;
  bottom: 8px;
  width: 146px;
  box-sizing: border-box;
  padding: 5px 15px;
  background-color: rgba(194, 25, 0, 0.8);
  font-size: 14px;
  color: #fff;
  font-family: "Open Sans", Tahoma, sans-serif;
}

.main_show section, .show_front section {
  position: relative;
  overflow: hidden;
  width: 373px;
  padding: 45px 0 0 25px;
}

.main_show section h3, .show_front section h3, .main_show section h6, .show_front section h6 {
  color: #2a2a2a;
  font-size: 36px;
  line-height: 1;
  padding-bottom: 16px;
}

.main_show section h3:after, .show_front section h3:after, .main_show section h6:after, .show_front section h6:after {
  content: '';
  width: 30px;
  height: 3px;
  background: #822a00;
  display: block;
  margin-top: 15px;
}

.main_show section p, .show_front section p {
  color: #2a2a2a;
  font-size: 18px;
  padding: 0 0 19px 0;
  font-family: "Open Sans", Tahoma, sans-serif;
}

.date {
  font-family: "Open Sans", Tahoma, sans-serif;
}

.date span {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  background: #822a00;
  padding: 4px 11px;
  margin: 0 20px 0 0;
}

.date strong {
  display: inline-block;
  padding: 0 30px 0 0;
  font-size: 16px;
  color: #822a00;
  font-weight: normal;
}

.shows {
  position: relative;
  overflow: hidden;
}

.show_item {
  float: left;
  width: 50%;
  margin-bottom: 27px;
  position: relative;
}

.show_front figure {
  height: 165px;
  width: 172px;
}

.show_front section {
  width: auto;
  padding: 0px 0 0 20px;
}

.show_front section h6 {
  font-size: 30px;
}

.show_back {
  position: absolute;
  background: #fff;
  left: 0;
  transition: all 0.5s ease;
  top: 0;
  width: 98%;
  height: 175px;
  border: 1px solid #822a00;
  opacity: 0;
  transform: scale(0);
  z-index: 2;
  box-sizing: border-box;
}

.show_back .date {
  float: left;
  width: 50%;
}

.show_back .date span {
  margin-bottom: 15px;
}

.show_back .date strong {
  color: #2a2a2a;
}

.show_back .year_rate {
  float: right;
  font-family: "Open Sans", Tahoma, sans-serif;
  width: 50%;
}

.show_back .year_rate strong {
  width: 115px;
  text-align: right;
  display: block;
  float: right;
  font-size: 13px;
  color: #2a2a2a;
  padding: 0 13px 0 0;
  font-weight: normal;
}

.show_back .year_rate em {
  color: #2a2a2a;
  float: right;
  height: 46px;
  font-style: normal;
  width: 46px;
  font-size: 22px;
  text-align: center;
  line-height: 46px;
  border-radius: 50%;
  border: 3px solid #d38d42;
}

.show_back a {
  width: 100%;
  height: 47px;
  margin: 17px 0 0 0;
  text-align: center;
  text-decoration: none;
  border: 1px solid #d28d42;
  color: #292929;
  font-size: 24px;
  display: block;
  font-family: Garamond, "EB Garamond", serif;
  line-height: 47px;
}

.show_back a:hover {
  text-decoration: underline;
}

.show_back:before {
  content: '';
  position: absolute;
  width: 400px;
  height: 153px;
  border: 1px solid #822a00;
  bottom: -9px;
  right: -9px;
  z-index: 0;
}

.show_back .show_back_inner {
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
  z-index: 2;
  padding: 13px;
  box-sizing: border-box;
}

.show_item:hover .show_back {
  opacity: 1;
  transform: scale(1);
}

.main_info {
  position: relative;
  overflow: hidden;
  padding: 25px 0 0 0;
}

.main_info .main_info_block {
  float: left;
  width: 408px;
  height: 95px;
  margin: 0 22px 0 0;
  position: relative;
  overflow: hidden;
}

.main_info .main_info_block a {
  position: absolute;
  width: 265px;
  height: 65px;
  line-height: 1.1;
  font-size: 24px;
  color: #2a2a2a;
  text-align: right;
  text-decoration: none;
  top: 20px;
  right: 40px;
}

.main_info .main_info_block a:hover {
  text-decoration: underline;
}

/*----------end main----------*/
/*----------footer----------*/
.footer {
  position: relative;
  overflow: hidden;
  padding: 38px 0 0 0;
}

.footer .logo {
  float: left;
  padding: 0 35px 0 0;
  text-decoration: none;
}

.footer .logo small {
  display: block;
  font-size: 24px;
  color: #fff;
  padding-bottom: 11px;
  text-align: center;
}

.foot_block {
  position: relative;
  overflow: hidden;
}

.foot_block nav {
  padding-top: 5px;
  padding-bottom: 41px;
}

.foot_block nav li {
  display: inline-block;
}

.foot_block nav li a {
  color: #fff;
  font-size: 18px;
  padding: 0 22px 0 0;
  font-family: "Open Sans", Tahoma, sans-serif;
}

.foot_block nav li a.active {
  text-decoration: none;
}

.foot_block address {
  font-size: 14px;
  color: #ffffff;
  font-family: "Open Sans", Tahoma, sans-serif;
  font-style: normal;
}

.bottom_bg {
  border-bottom: 5px solid #fff;
  height: 3px;
  border-top: 1px solid #fff;
  margin-top: 20px;
}

/*----------end footer----------*/
/*------------------text----------------*/
.content_txt {
  padding-bottom: 35px;
}

.content_txt li {
  padding-left: 35px;
  position: relative;
  margin-bottom: 15px;
}

.content_txt p {
  padding-bottom: 20px;
}

.content_txt ol, .content_txt ul {
  padding-bottom: 20px;
}

.content_txt ul li:before {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 4px;
  left: 15px;
  background-color: #d28d42;
  top: 10px;
  box-shadow: 0 0 6px rgba(178, 113, 41, 0.44);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDggOCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
}

.content_txt ol {
  counter-reset: list1;
}

.content_txt ol li:before {
  position: absolute;
  left: 15px;
  top: 0px;
  color: #d28d42;
  font-size: 20px;
  counter-increment: list1;
  content: counter(list1) ". ";
}

.content_txt table {
  width: 100%;
  margin-bottom: 28px;
  font-family: "Open Sans", Tahoma, sans-serif;
}

.content_txt table th {
  background: #d38d42;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  padding: 14px 0;
  border-left: #ffffff 8px solid;
}

.content_txt table th:first-child {
  border-left: none;
}

.content_txt table thead {
  border: 8px solid #d38d42;
  border-top: none;
  border-bottom: none;
}

.content_txt table tbody {
  border: 8px solid #d38d42;
  border-top: none;
}

.content_txt table tbody tr:nth-child(2n) td {
  background: #f4f7fa;
}

.content_txt table td {
  padding: 15px 25px;
  background: #fff;
  font-size: 14px;
  color: #454343;
}

.content_txt form {
  padding-bottom: 20px;
  font-family: "Open Sans", Tahoma, sans-serif;
}

.content_txt form label {
  display: block;
  font-size: 12px;
  color: #2a2a2a;
  padding-bottom: 8px;
  text-transform: uppercase;
}

.content_txt form div {
  padding-bottom: 20px;
}

.content_txt form label.radio, .content_txt form label.checkbox {
  text-transform: none;
}

.content_txt h1 {
  font-size: 71px;
}

.radio, .checkbox {
  display: block;
  margin-bottom: 16px;
  text-transform: none;
}

.radio i, .checkbox i {
  width: 14px;
  height: 14px;
  border: 2px solid #d28d42;
  border-radius: 9px;
  background-color: #e5f1ff;
  display: inline-block;
  position: relative;
  top: 5px;
  margin-right: 5px;
}

.radio input:checked + i:before, .checkbox input:checked + i:before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #d28d42;
  position: absolute;
  top: 4px;
  left: 4px;
}

.radio input, .checkbox input {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  width: 6px;
  height: 6px;
}

.checkbox i {
  border-radius: 4px;
}

.checkbox input:checked + i:before {
  content: '';
  width: 6px;
  height: 6px;
  background: url(../img/icons/check.png) no-repeat center;
  position: absolute;
  top: 4px;
  left: 4px;
}

/*-----------------end-text----------------*/
